absl-py
#jsonschema~=4.23.0
numpy<=2.0.2
#opencv-python-headless~=4.11.0.86  included in data_accessors
requests-mock~=1.9.3
#pyyaml~=6.0.2
#requests~=2.32.3
transformers
#mock~=5.1.0

-r ../data_accessors/requirements.in
-r serving_framework/requirements.in
-r serving_framework/triton/requirements.in