absl-py~=2.3.1
ez-wsi-dicomweb~=6.1.6
google-cloud-core~=2.5.0
google-cloud-logging~=3.13.0
google-cloud-secret-manager~=2.26.0
google-cloud-storage~=3.9.0
immutabledict~=4.3.1
numpy<=2.0.2
opencv-python-headless~=4.11.0.86
openslide-python~=1.4.3
pillow~=12.1.1
pydicom~=3.0.1
openslide-bin~=4.0.0.8
pydicom~=3.0.1
pypng~=0.20220715.0
redis~=7.2.1
requests~=2.32.5
requests-mock~=1.9.3